@page
@model ParceriaModel
@{
    ViewData["Title"] = "Parceria";
}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>.</title>
    <link rel="stylesheet" href="/css/site.css" />
</head>
<body>
    <h1 class="Titulo">Parcerias</h1>
    <h2 class="txt">Motivos e Vantagens</h2>
    <img class="Parce" img src="~/img/Parceria.png" alt="" />
    <div class="Para">
        <p>Acesso a Produtos Ecológicos: Ao fazer parceria, você pode ter</p>
        <p>acesso preferencial ou exclusivo aos produtos biodegradáveis e</p>
        <p>ecológicos oferecidos pela EcoLife, que podem ser integrados à</p>
        <p>sua linha de produtos ou utilizados em suas operações.</p>
    </div>
    <br>
    <div class="Para2">
        <p>Responsabilidade Social Corporativa: Associar-se com a</p>
        <p>EcoLife pode fortalecer sua estratégia de responsabilidade</p>
        <p>social corporativa (CSR),demostrando seu compromisso</p>
        <p>com práticas comerciais éticas e sustentáveis.</p>
     </div>
     <div class="Para3">
        <p>Nossas parcerias frequentemente envolvem projetos</p>
        <p>sociais que beneficiam a comunidade local,</p>
        <p>permitindo que sua empresa participe ativamente</p>
        <p>de ações que geram valor social.</p>
     </div>
    <h3 class="Entre"> Entre em contato</h3>
    <h4 class="Numero"> Telefone:(71) 98699-4989</h4>
    <h4 class="Email">Email: ecolife@gmail.com</h4>

    <style>

        .Titulo {
            position :relative;
            font-family: Kodchasan;
            font-size: 70px;
            top:15px;
            color: #4e6137;
        }

        .txt {
            position:relative;
            font-family: Kodchasan;
            font-size: 55px;
            right:70px;
            color: #000000;
            top:50px;
        }

        .Parce {
            position: relative;
            width: 750px;
            height: 750px;
            left: 770px;
            top:150px;
        }

        .Para {
            text-align: center;
            position: relative;
            font-family: Kodchasan;
            flex-direction: column;
            font-size: 27px;
            right: 430px;
            top: -595px;
            z-index: 99;
        }

        .Para2 {
            text-align: center;
            position: relative;
            font-family: Kodchasan;
            flex-direction: column;
            font-size: 27px;
            right: 445px;
            top: -565px;
            z-index: 99;
        }
        .Para3 {
            text-align: center;
            position: relative;
            font-family: Kodchasan;
            flex-direction: column;
            right:450px;
            font-size: 27px;
            top:-525px;
        }

        .Entre {
            position:relative;
            font-family:Kodchasan;
            text-align: center;
            font-size: 38px;
            top:-225px;
        }

        .Numero {
            position:relative;
            font-family:Kodchasan;
            text-align: center;
            font-size: 35px;
            top:-215px
        }

        .Email {
            position:relative;
            font-family:Kodchasan;
            text-align: center;
            font-size: 32px;
            top:-200px;
        }
    </style>
</body>
</html>